@model Burrower

<div class="col-11">
    <div class="selected-burrower">
        <h3 class="fa-underline">Vald lånetagare</h3>
        <table>
            <tr class="">
                <th class="">Namn </th>
                <td class="">@Model.FirstName @Model.LastName</td>
            </tr>
            <tr class="">
                <th class="">E-Post: </th>
                <td>@Model.EMail</td>
            </tr>
            <tr class="">
                <th>Personnummer: </th>
                <td>@Model.SecurityNumber</td>
            </tr>
            <tr class="">
                <th>Adress: </th>
                <td>@Model.Address</td>
            </tr>
        </table>
    </div>
    <div class="btn-outline-light">
        <a asp-area="" asp-controller="Burrower" asp-action="Loans" asp-route-id=@Model.BurrowerID>
            Se alla lån
        </a>
    </div>
    <div class="delete">
        <a asp-area="" asp-controller="Burrower" asp-action="DeleteBurrower" asp-route-id=@Model.BurrowerID>
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
    <div class="update">
        <a asp-area="" asp-controller="Burrower" asp-action="EditBurrower" asp-route-id=@Model.BurrowerID>
            <i class="fa fa-pencil-square"></i>
        </a>
    </div>
</div>
