@model Burrower

<div class="selected-burrower">
    <div class="">
        <h5>@Model.FirstName @Model.LastName</h5>
    </div>
    <div class="user-info">
        <div class="">
            <span class="variable">E-Post: </span>
            <span>@Model.EMail</span>
        </div>
        <div class="">
            <span>Personnummer: </span>
            <span>@Model.SecurityNumber</span>
        </div>
        <div class="">
            <span>Adress: </span>
            <span>@Model.Address</span>
        </div>
    </div>
    <div class="burrowers-loan">
        <a asp-area="" asp-controller="Burrower" asp-action="Loans" asp-route-id=@Model.BurrowerID>
            Lån
        </a>
    </div>
    <div class="delete">
        <a asp-area="" asp-controller="Burrower" asp-action="DeleteBurrower" asp-route-id=@Model.BurrowerID>Radera</a>
    </div>
    <div class="update">
        <a asp-area="" asp-controller="Burrower" asp-action="EditBurrower" asp-route-id=@Model.BurrowerID>Ändra</a>
    </div>
</div>