@model Burrower

<h4>Ändra på en existerande lånetagare</h4>

<div>
    <form asp-action="SavedEdit" asp-controller="Burrower" asp-route-id="@Model.BurrowerID" method="post">

        <table class="table-bordered" cellpadding="2" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Lånetagare</th>
            </tr>
            <tr>
                <td>Förnamn:</td>
                <td>@Html.TextBoxFor(b => b.FirstName)</td>
            </tr>
            <tr>
                <td>Efternamn:</td>
                <td>@Html.TextBoxFor(b => b.LastName)</td>
            </tr>
            <tr>
                <td>Adress:</td>
                <td>@Html.TextBoxFor(b => b.Address)</td>
            </tr>
            <tr>
                <td>Personnummer:</td>
                <td>@Html.TextBoxFor(b => b.SecurityNumber)</td>
            </tr>
            <tr>
                <td>E-Post:</td>
                <td>@Html.TextBoxFor(b => b.EMail)</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SPARA" /></td>
            </tr>
        </table>

        <div class="btn-outline-light">
            <a asp-area="" asp-controller="Burrower" asp-action="Loans" asp-route-id=@Model.BurrowerID>
                <i class="btn btn-info">SE ALLA LÅNETAGRENS LÅN</i> 
            </a>
        </div>
    </form>
</div>