@model Burrower


<h5>Sparad lånetagare:</h5>
<p>ID: @Model.BurrowerID</p>
<p>Namn: @Model.FirstName @Model.LastName</p>
<p>Adress: @Model.Address.</p>
<p>E-Post: @Model.EMail.</p>
<p>Personnummer: @Model.SecurityNumber.</p>