@model BookViewModel

<div class="col-md-11">
    <img src="@Model.Book.ThumbnailURL" alt="<BILD SAKNAS>" />
    <div>
        <h5 class="fa fa-bold">@Model.Book.Title</h5>
    </div>
    <div class="author">
        @foreach (var author in Model.Authors)
        {
            <p>@author.LastName, @author.FirstName</p>
        }
    </div>
    <div>

        <p>Alla exemplar:</p>
    </div>
    <div class="book-copies">
        <div class="card-columns">
            <h5 class="placing">Placering</h5>
            <h5 class="status">Status</h5>
        </div>


        @foreach (var copy in Model.Book.Copies)
        {
            <div class="card-columns">
                <p class="placing">Hylla @copy.ShelfID</p>

                @switch (copy.BookStatus)
                {
                    case Status.Available:
                        <p class="status">TILLGÄNGLIG</p>
                        break;
                    case Status.Late:
                        <p class="status">FÖRSENAD</p>
                        break;
                    case Status.Gone:
                        <p class="status">BORTA</p>
                        break;
                    case Status.Burrowed:
                        <p class="status">UTLÅNAD</p>
                        break;
                    case Status.Reserved:
                        <p class="status">RESERVERAD</p>
                        break;
                }
            </div>
        }

    </div>
</div>