@model BookViewModel

<div class="row gy-5">
    <div class="book-top">
        <div class="card-columns">
            <div>
                <img src="@Model.Book.ThumbnailURL" alt="<BILD SAKNAS>" />
            </div>

            <div class="title-author">
                <p class="book-title">@Model.Book.Title</p>

                @foreach (var author in Model.Authors)
                {
                    <p>
                        <i class="author">@author.LastName, @author.FirstName</i>
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="copy-container">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th class="col-sm-1" scope="col">#        ALLA EXEMPLAR</th>
                    <th class="col-sm-2" scope="col">Placering</th>
                    <th class="col-sm-3" scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= Model.Book.Copies.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>Hylla @Model.Book.Copies.ToArray()[i - 1].ShelfID</td>
                        @switch (Model.Book.Copies.ToArray()[i - 1].BookStatus)
                        {
                            case Status.Available:
                                <td class="status">TILLGÄNGLIG</td>
                                break;
                            case Status.Late:
                                <td class="status">FÖRSENAD</td>
                                break;
                            case Status.Gone:
                                <td class="status">BORTA</td>
                                break;
                            case Status.Burrowed:
                                <td class="status">UTLÅNAD</td>
                                break;
                            case Status.Reserved:
                                <td class="status">RESERVERAD</td>
                                break;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    
</div>